{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %} 
          <li>{{ item.name }} - {{item.status}} 
             {% if item.status != 'Done' %}
             <form action= "/complete_Card" method="POST">
              <input type="hidden" name="card_id" value="{{item.id}}" > 
              <button type="submit" class="btn btn-primary">complete item</button>
            </form>
            {% endif %}
            </li> 
            
        {% endfor %} 
          </ul>
    </div>
  </div>

  <form action="todo" method="post" class="form-example">
    <div class="form-example">
      <label for="Todo">Add To Do Item </label>
      <input type="text" name="Todo" id="Todo" value="" required>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}